<div class="page-width page-width--narrow">
Marke: <a style="display: inline; padding: 0 5px;" class="button" href="/pages/wissensdatenbank?brand={{ page.metafields.custom.wohnmobil_marke }}">{{ page.metafields.custom.wohnmobil_marke }}</a>
<br>
Modell: {{ page.metafields.custom.wohnmobil_modell }}
<br>
Baujahr: {{ page.metafields.custom.wohnmobil_baujahr | date: "%Y-%m" }}
<br>
Einbaudatum: {{ page.metafields.custom.einbaudatum | date: "%Y-%m" }}
</div>